# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Build / dist
build/
dist/
*.egg-info/

static/*.png
static/*.jpg
static/*.jpeg
static/*.gif
static/*.webp
static/*.bmp
static/*.tiff
static/*.tif